{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% block content %}
	
	<div class="xl:container px-3 mx-auto mt-24">
		<h1 class="text-3xl md:text-4xl uppercase font-bold text-center mb-12 max-w-3xl mx-auto">
			{{ entry.title }}
		</h1>
		
		<div class="md:flex flex-wrap items-center justify-center mb-8">
			<div class="flex-initial md:pr-6 mb-6">
				{% if entry.portrait | length %}
					{% set img = entry.portrait.one %}
					<img class="rounded-lg md:max-w-md h-auto"
					     src="{{ img.getUrl() }}"
					     alt="Portrait von {{ entry.title }}"
					     sizes="95vw, (min-width: 768px) 448px"
					     srcset="{% include '_srcset' %}"
					     width="{{ img.width }}"
					     height="{{ img.height }}">
				{% endif %}
			</div>
			
			<div class="">
				<ul class="">
					<li class="mb-4 flex items-center">
						{% include 'icons/mail' %}
						{{entry.email}}
					</li>
					
					{% if entry.telephone | length %}
					<li class="mb-4 flex items-center">
						{% include 'icons/call' %}
						{{entry.telephone}}
					</li>
					{% endif %}
					
					{% if entry.twitter | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/twitter' %}
							<a href="https://twitter.com/{{ entry.twitter }}"target="_blank">@{{entry.twitter}}</a>
						</li>
					{% endif %}
					
					{% if entry.facebook | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/facebook' %}
							<a href="https://fb.me/{{ entry.facebook }}" target="_blank">{{ entry.facebook }}</a>
						</li>
					{% endif %}
					
					{% if entry.instagram | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/instagram' %}
							<a href="https://instagram.com/{{ entry.instagram }}" target="_blank">@{{ entry.instagram }}</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
	</div>

{% endblock %}
