{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% block content %}
	
	<div class="container mx-auto mt-24">
		<h1 class="text-4xl uppercase font-bold text-center mb-12 max-w-3xl mx-auto">
			{{ entry.title }}
		</h1>
		
		<div class="md:flex items-center justify-center mb-8">
			<div class="flex-initial pr-6 mb-6">
				{% if entry.portrait | length %}
					{% set img = entry.portrait.one %}
					<img class="rounded-lg max-w-xl mx-auto h-auto"
					     src="{{ img.getUrl() }}"
					     alt="Portrait von {{ entry.title }}"
					     sizes="95vw, (min-width: 768px) 448px"
					     srcset="{% include '_srcset' %}"
					     width="{{ img.width }}"
					     height="{{ img.height }}">
				{% endif %}
			</div>
		</div>
		
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
	</div>

{% endblock %}
