{% for block in entry.contentBlocks.all %}
	
	{% if block.type == "textBlock" %}
		<div class="textBlock max-w-2xl mx-auto leading-snug">
			{{ block.text }}
		</div>
	
	{% elseif block.type == "bildBlock" %}
		{% if block.bildbreite == "ganzeBreite" %}
		
			{% set sizes = "95vw, (min-width: 1280px) 1256px" %}
			{% set wrapperClass = "grid grid-cols-1" %}
			
		{% elseif block.bildbreite == "halbeBreite" %}
			{% set sizes = "45vw, (min-width: 1280px) 620px" %}
			{% set wrapperClass = "grid grid-cols-1 gap-4 md:grid-cols-2" %}
			
		{% elseif block.bildbreite == "viertelBreite" %}
			{% set sizes = "23vw, (min-width: 1280px) 300px" %}
			{% set wrapperClass = "grid grid-cols-1 gap-4 md:grid-cols-2" %}
			
		{% endif %}

		<div class="my-4 {{ wrapperClass }}">
			{% for img in block.bild %}
				<figure class="my-2">
					<img src="{{ img.getUrl }}"
					     width="{{ img.width }}"
					     height="{{ img.height }}"
					     class="h-auto"
					     sizes="{{ sizes }}"
					     srcset="{% include '_srcset' %}"
					     alt="{{ img.altText }}">

					{% if img.bildunterschrift | length %}
						<figcaption>{{ img.bildunterschrift }}</figcaption>
					{% endif %}
				</figure>
			{% endfor %}
		</div>
	{% endif%}
	


{% endfor %}
