<!DOCTYPE html>
<html lang="{{ craft.app.locale }}">
<head>
	{% set pageTitle = systemName %}
	{% if title is defined %}
		{% set pageTitle = title ~ " — " ~ pageTitle %}
	{% endif %}
	
	{% set metadesc = metaData.metaDescription %}
	{% if desc is defined %}
		{% set metadesc = desc %}
	{% endif %}
	
	<meta charset="utf-8"/>
	<title>{{ pageTitle }}</title>
	<meta name="title" content="{{ pageTitle }}">
	
	<meta name="description" content="{{ metadesc }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	{% set sharingImage = false %}
	{% if shareImg is defined %}
		{% set sharingImage = shareImg.getUrl('shareImage') %}
	{% endif %}
	
	<meta property="og:type" content="website">
	{% if sharingImage %}
		<meta property="og:image" content="{{ sharingImage }}">
	{% endif %}
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
	
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
	{% if sharingImage %}
		<meta property="twitter:image" content="{{ sharingImage }}">
	{% endif %}
	<meta property="twitter:title" content="{{ pageTitle }}">
	<meta property="twitter:description" content="{{ metadesc }}">
	
	{% if metaData.favicon |length %}
		
		{% set favicon = metaData.favicon.one %}
		
		<link rel="apple-touch-icon" sizes="57x57" href="{% include '_favicon' with { width: 57 } %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% include '_favicon' with { width: 60 } %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% include '_favicon' with { width: 72 } %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% include '_favicon' with { width: 76 } %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% include '_favicon' with { width: 114 } %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% include '_favicon' with { width: 120 } %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% include '_favicon' with { width: 144 } %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% include '_favicon' with { width: 152 } %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% include '_favicon' with { width: 180 } %}">
		
		<link rel="icon" type="image/png" sizes="32x32" href="{% include '_favicon' with { width: 57 } %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% include '_favicon' with { width: 96 } %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% include '_favicon' with { width: 16 } %}">
	
	{% endif %}


<!--
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-180696525-1', { 'storage': 'none' });
	ga('send', 'pageview');
	ga('set', 'anonymizeIp', true);

	</script>
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180696525-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180696525-1');
</script>

	
	<!--
  <link rel="preload" href="/assets/fonts/3403C4_0_0.woff2" as="font" type="font/woff" crossorigin="anonymous">
  -->
	
	{% do view.registerCssFile("/assets/tailwind.css?v=20201020b" ) %}
	{% do view.registerCssFile("/assets/whoosh.css?v=20201020" ) %}

</head>

{% if bodyClass is not defined %}
	{% set bodyClass = "" %}
{% endif %}

<body class="{{ bodyClass }} flex flex-col min-h-screen">

<header id="mainHeader" class="fixed top-0 w-full z-40 text-center bg-opacity-75 bg-white">
	<div class="flex justify-between items-center xl:container px-3 py-4 mx-auto">
		
		<a href="{{ url('/') }}" class="">
			<img src="/assets/whoosh-logo.svg" class="h-6 w-auto" alt="Whoosh Logo">
		</a>
		
		<button class="md:hidden" id="menuButton" aria-label="Toggle Menu" onclick="document.body.classList.toggle('openNav'); return false;">
			<span id="topBar" class="bar"></span>
			<span id="middleBar" class="bar">
				<span class="inside"></span>
				<span class="inside"></span>
			</span>
			<span id="bottomBar" class="bar"></span>
		</button>
		
		<div id="mainNav" class="hidden md:block">
			{% include '_nav' with {
				class: "text-xl flex",
				subclass: "px-4 hover:underline transition ease-in-out duration-700 transform"
			} %}
		</div>
		
		<div class="hidden lg:flex items-center text-md">
			<div class="hidden md:block">{{ now | date('D M j | H:i') }}</div>
			<div class="block md:hidden">{{ now | date('d.m. | H:i') }}</div>
			&nbsp;|&nbsp;
			<div id="weather" class="flex items-center">{{ "" | weatherInfo | raw }}</div>
		</div>
	</div>
</header>

<nav id="mobileNav" class="hidden fixed z-30 inset-0 bg-white w-screen h-screen flex justify-center items-center">
	{% include '_nav' with {
		class: "text-3xl font-bold uppercase leading-relaxed",
		subclass: ""
	} %}
</nav>

<main class="mb-24 flex-grow">
	{% block content %}{% endblock %}
</main>

<div id="socialBar" class="fixed bottom-0 z-20 w-30 ">
	<div class="bg-transparent md:m-5 p-5 text-2xl">
		<div id="showSocialContainerButton" class="cursor-pointer p-4">
			<div class="inline-block hover:text-blue">
				{% include 'icons/heart' %}
			</div>
			<div id="socialContainer" class="inline-block hidden transition ease-in duration-700">
				<ul>
					<li class="inline-block pl-3 hover:text-blue">
						<a href="https://facebook.com/whoosh.wien" target="_blank">{% include 'icons/facebook' %}</a>
					</li>
					<li class="inline-block px-0 hover:text-blue">
						<a href="https://www.instagram.com/whoosh.wien" target="_blank">{% include 'icons/instagram' %}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<footer id="mainFooter" class="pin-b p-4 border border-solid border-black border-r-0 border-l-0 w-full">
	<ul class="text-center">
		<li class="py-2">&copy; Whoosh, 2020</li>
		<li class="py-2"><a href="{{ url('imprint') }}">Impressum</a></li>
	</ul>
</footer>

<script src="/assets/whoosh.js?v=20201020" defer></script>

</body>
</html>
