{% set bodyClass = entry.slug %}
{% set title = entry.title %}

{% extends '_layout' %}

{% block content %}
	
	<div class="xl:container px-3  mx-auto mt-24">
		<h1 class="text-4xl lg:text-6xl uppercase font-bold text-center mb-6">
			{{ entry.title }}
		</h1>
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
		
		{% if entry.slug == "about-us" %}
			<h2 class="text-4xl uppercase font-bold text-center mt-16 mb-4">Team</h2>
			
			<div class="team mt-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 items-center">
				
				{% for person in craft.entries.section('team').all %}
					<a href="{{ person.url }}" class="text-center">
						{% if person.portrait | length %}
							{% set img = person.portrait.one %}
							<img class="rounded-lg h-auto" src="{{ img.getUrl }}"
							     alt="Portrait von {{ person.title }}"
							     srcset="{% include '_srcset' %}"
							     width="{{ img.width }}"
							     height="{{ img.height }}"
							     sizes="50vw, (min-width: 768px) 30vw, (min-width: 1024px) 25vw, (min-width: 1280px) 300px">
						
						{% else %}
							{{ person.title }}
						{% endif %}
					</a>
				{% endfor %}
			</div>
		
		{% elseif entry.slug == "manifesto" %}
				
		{% endif %}
	</div>

{% endblock %}
