{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% set dayDiff = date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).days  %}
{% block content %}
	
	<div class="container mx-auto mt-24">
		<h1 class="text-4xl uppercase font-bold text-center mb-12 max-w-3xl mx-auto">
			{{ entry.title }}
		</h1>
		
		<div class="flex flex-wrap items-center justify-center mb-8">
			<div class="flex-initial pr-6 mb-6">
				{% if entry.vorschaubild | length %}
					<img class="rounded-lg max-w-md" src="{{ entry.vorschaubild.one.getUrl() }}">
				{% endif %}
			</div>

			
			<div class="flex-none pl-2">
				<ul class="">
					<li class="mb-4">
<ion-icon name="calendar-outline"></ion-icon>
						{{ entry.startdatum | date('d.m.Y') }}
					{% if dayDiff != 0 %}
						&mdash; 
							{{ entry.enddatum | date('d.m.Y') }}
							{{ entry.enddatum | date('H:i') }}
					{% endif %}
					</li>
					<li class="mb-4">
<ion-icon name="time-outline"></ion-icon>
						{{ entry.startdatum | date('H:i') }}
						
						{% if dayDiff == 0 %}
							&mdash; {{ entry.enddatum | date('H:i') }}
						{% endif %}
					</li>
					
						<li class="mb-4">
<ion-icon name="hourglass-outline"></ion-icon>

							{{ date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).format('%h h %i mins') }}
						</li>
					
					{% if entry.kosten | length %}
						<li class="mb-4">
<ion-icon name="logo-euro"></ion-icon>
							{{ entry.kosten }} 
						</li>
					{% endif %}
					
					{% if entry.ortTreffpunkt | length %}
						<li class="mb-4">
<ion-icon name="location-outline"></ion-icon>
							{{ entry.ortTreffpunkt }}
						</li>
					{% endif %}
					
					{% if entry.sprache | length %}
						<li class="mb-4">
<ion-icon name="language-outline"></ion-icon>
							{{ entry.sprache }}
						</li>
					{% endif %}
				
				</ul>
			</div>
		</div>
		
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
		
		{% if entry.anmerkungen | length %}
			<h2>Anmerkungen</h2>
			{{ entry.anmerkungen }}
		{% endif %}
	</div>

{% endblock %}
