{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% block content %}

	<div class="container mx-auto mt-24">
		<h1 class="text-6xl uppercase font-bold text-center">{{ entry.title }}</h1>
	

		<div class="flex items-center justify-center"> 
			<div class="flex-initial pr-6">
			{% if entry.vorschaubild | length %}
				<img class="rounded-lg max-w-xl mx-auto" src="{{ entry.vorschaubild.one.getUrl() }}">
			{% endif %}
			</div>

			<div class="flex-none pl-2">
			<ul class="my-16">
			<li class="py-4">
			<h2>Datum</h2>
			{{ entry.startdatum | date('d.m.Y') }}
			{{ entry.startzeit | date('H:i') }}
			</li>

			<li class="py-4">
			<h2>Enddatum</h2>
			{{ entry.enddatum | date('d.m.Y') }}
			{{ entry.endzeit | date('H:i') }}
			</li>
			
			<li class="py-4">
			<h2>Dauer</h2>
			</li>

			<li>
			<h2>Cost contribution</h2>
			{{ entry.kosten }} Euro
			</li>

			<li>
			<h2>Meeting point</h2>
			{{ entry.ortTreffpunkt }}
			</li>
			<li>
			<h2>Language</h2>
			{{ entry.sprache }}
			</li>

			</ul>
			</div>
		</div>


<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>

{% if entry.anmerkungen | length %}
<h2>Anmerkungen</h2>
{{ entry.anmerkungen }}
{% endif %}
	</div>

{% endblock %}
