{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% set dayDiff = date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).days %}
{% block content %}
	
	<div class="xl:container px-3 mx-auto mt-24 lg:mt-30">
		<h1 class="text-3xl md:text-4xl uppercase font-bold text-center mb-8 md:mb-12 max-w-3xl mx-auto leading-none mb:leading-tight">
			{{ entry.title }}
		</h1>
		
		<div class="md:flex flex-wrap items-center justify-center mb-8">
			<div class="flex-initial md:pr-6 mb-6">
				{% if entry.vorschaubild | length %}
					{% set img = entry.vorschaubild.one %}
					<img class="rounded-lg md:max-w-md h-auto"
					     alt="{{ img.altText }}"
					     width="{{ img.width }}"
					     height="{{ img.height }}"
					     sizes="95vw, (min-width: 768px) 448px"
					     srcset="{% include '_srcset' %}"
					     src="{{ img.getUrl() }}">
				{% endif %}
			</div>
			
			
			<div class="">
				<ul class="">
					<li class="mb-4 flex items-center">
						<ion-icon name="calendar-outline" class=" mr-3"></ion-icon>
						{{ entry.startdatum | date('d.m.Y') }}
						{% if dayDiff != 0 %}
							&mdash;
							{{ entry.enddatum | date('d.m.Y') }}
							{{ entry.enddatum | date('H:i') }}
						{% endif %}
					</li>
					<li class="mb-4 flex items-center">
						<ion-icon name="time-outline" class=" mr-3"></ion-icon>
						{{ entry.startdatum | date('H:i') }}
						
						{% if dayDiff == 0 %}
							&mdash; {{ entry.enddatum | date('H:i') }}
						{% endif %}
					</li>
					
					<li class="mb-4 flex items-center">
						<ion-icon name="hourglass-outline" class=" mr-3"></ion-icon>
						
						{{ date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).format('%h h %i mins') }}
					</li>
					
					{% if entry.kosten | length %}
						<li class="mb-4 flex items-center">
							<ion-icon name="logo-euro" class=" mr-3"></ion-icon>
							{{ entry.kosten }}
						</li>
					{% endif %}
					
					{% if entry.ortTreffpunkt | length %}
						<li class="mb-4 flex items-center">
							<ion-icon name="location-outline" class=" mr-3"></ion-icon>
							{{ entry.ortTreffpunkt }}
						</li>
					{% endif %}
					
					{% if entry.koordinaten | length %}
						<li class="mb-4">
							<a class=" flex items-center" href="{{ entry.koordinaten }}" target="_blank">
								<ion-icon name="map-outline" class=" mr-3"></ion-icon>
								Google Maps</a>
						</li>
					{% endif %}
					
					{% if entry.telephone | length %}
						<li class="mb-4 flex items-center">
							<ion-icon name="call-outline" class=" mr-3"></ion-icon> {{ entry.telephone }} {% if entry.user | length %}
								{{ entry.user.one }}
							{% endif %}
						</li>
					{% endif %}
					
					{% if entry.sprache | length %}
						<li class="mb-4 flex items-center">
							<ion-icon name="language-outline" class=" mr-3"></ion-icon>
							{{ entry.sprache }}
						</li>
					{% endif %}
				
				</ul>
			</div>
		</div>
		
		{% if entry.user | length %}
			<ul class="user mb-16">
				{% for user in entry.user %}
					<li>
						{{ user.title }}:
						
						{% if user.telephone | length %}
							{{ user.telephone }}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
		
		{% if entry.anmerkungen | length %}
			<h2>Anmerkungen</h2>
			{{ entry.anmerkungen }}
		{% endif %}
	</div>

{% endblock %}
