{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% block content %}
	
	<div class="container mx-auto mt-24">
		<h1 class="text-4xl uppercase font-bold text-center mb-12 max-w-3xl mx-auto">
			{{ entry.title }}
		</h1>
		
		<div class="flex items-center justify-center">
			<div class="flex-initial pr-6">
				{% if entry.vorschaubild | length %}
					<img class="rounded-lg max-w-xl mx-auto" src="{{ entry.vorschaubild.one.getUrl() }}">
				{% endif %}
			</div>
			
			<div class="flex-none pl-2">
				<ul class="my-16">
					<li class="py-4">
						<h2>Datum</h2>
						{{ entry.startdatum | date('d.m.Y') }}
						{{ entry.startzeit | date('H:i') }}
						
						{% if entry.enddatum | length < 1 and entry.endzeit | length %}
							&mdash; {{ entry.endzeit | date('H:i') }}
						{% endif %}
					</li>
					
					{% if entry.enddatum | length %}
						<li class="py-4">
							<h2>Enddatum</h2>
							{{ entry.enddatum | date('d.m.Y') }}
							{{ entry.endzeit | date('H:i') }}
						</li>
					{% endif %}
					
					{% if entry.enddatum | length %}
						<li>
							<h2>Kosten</h2>
							{{ entry.kosten }} Euro
						</li>
					{% endif %}
					
					{% if entry.enddatum | length %}
						<li>
							<h2>Ort / Treffpunkt</h2>
							{{ entry.ortTreffpunkt }}
						</li>
					{% endif %}
					
					
					{% if entry.enddatum | length %}
						<li>
							<h2>Sprache</h2>
							{{ entry.sprache }}
						</li>
					{% endif %}
				
				</ul>
			</div>
		</div>
		
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
		
		{% if entry.anmerkungen | length %}
			<h2>Anmerkungen</h2>
			{{ entry.anmerkungen }}
		{% endif %}
	</div>

{% endblock %}
