{% set bodyClass = "event" %}
{% set title = entry.title %}
{% extends '_layout' %}

{% set dayDiff = date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).days %}
{% block content %}
	
	<div class="xl:container px-3 mx-auto mt-24 lg:mt-30">
		<h1 class="text-3xl md:text-4xl uppercase font-bold text-center mb-8 md:mb-12 max-w-3xl mx-auto leading-none mb:leading-tight">
			{{ entry.title }}
		</h1>
		
		<div class="max-w-2xl md:max-w-4xl mx-auto md:flex flex-wrap items-center justify-center mb-8">
			<div class="flex-1 md:pr-6 mb-6">
				{% if entry.vorschaubild | length %}
					{% set img = entry.vorschaubild.one %}
					<img class="rounded-lg md:max-w-md h-auto block max-w-lg mx-auto"
					     alt="{{ img.altText }}"
					     width="{{ img.width }}"
					     height="{{ img.height }}"
					     sizes="95vw, (min-width: 768px) 448px"
					     srcset="{% include '_srcset' %}"
					     src="{{ img.getUrl() }}">
				{% endif %}
			</div>
			
			<div class="flex-1">
				<ul class="">
					<li class="mb-4 flex items-center">
						{% include 'icons/calendar' %}
						
						{{ entry.startdatum | date('D d.m.Y') }}
						{% if dayDiff != 0 %}
							&mdash;
							{{ entry.enddatum | date('d.m.Y') }}
							{{ entry.enddatum | date('H:i') }}
						{% endif %}
					</li>
					
					<li class="mb-4 flex items-center">
						{% include 'icons/time' %}
						{{ entry.startdatum | date('H:i') }}
						
						{% if dayDiff == 0 %}
							&mdash; {{ entry.enddatum | date('H:i') }}
						{% endif %}
					</li>
					
					<li class="mb-4 flex items-center">
						{% include 'icons/hourglass' %}
						
						{{ date(entry.enddatum | date('c')).diff(date(entry.startdatum | date('c'))).format('%h h %i mins') }}
					</li>
					
					{% if entry.kosten | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/euro' %}
							{{ entry.kosten }}
						</li>
					{% endif %}
					
					{% if entry.ortTreffpunkt | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/location' %}
							{{ entry.ortTreffpunkt | nl2br }}
						</li>
					{% endif %}
					
					{% if entry.koordinaten | length %}
						<li class="mb-4">
							<a class=" flex items-center" href="{{ entry.koordinaten }}" target="_blank">
								{% include 'icons/map' %}
								Google Maps</a>
						</li>
					{% endif %}
					
					{% if entry.user | length and entry.user.one.telephone | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/call' %}
							{{ entry.user.one.telephone }},
								{{ entry.user.one.title }}
						</li>
					{% endif %}
					
					{% if entry.sprache | length %}
						<li class="mb-4 flex items-center">
							{% include 'icons/language' %}
							{{ entry.sprache }}
						</li>
					{% endif %}
				
				</ul>
			</div>
		</div>
		
{#
		{% if entry.user | length %}
			<ul class="user mb-16">
				{% for user in entry.user.all %}
					<li>
						{{ user.title }}:
						
						{% if user.telephone | length %}
							{{ user.telephone }}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
#}
		
		<div class="contentBlocks">
			{% include '_contentBlocks' %}
		</div>
		
		{% if entry.anmerkungen | length %}
			<h2>Anmerkungen</h2>
			{{ entry.anmerkungen }}
		{% endif %}
	</div>

{% endblock %}
