<li class="{% if termin.startdatum | date('Y-m-d') >= now | date('Y-m-d') %}upcoming{% else %}past{% endif %} py-4 flex items-center justify-between border border-solid border-black border-t-0 border-r-0 border-l-0">
	<div class="flex-none date font-bold text-center uppercase pr-6 text-xl">
		{{ termin.startdatum | date('d') }}<br>
		{{ termin.startdatum | date('M') }}
	</div>
	
	<div class="flex-none time pr-6">
		{{ termin.startdatum | date('H:i') }}
	</div>
	
	<div class="flex-1 desc pr-6">
		<a href="{{ termin.url }}">
			{{ termin.title }}
		</a>
	</div>
	
	<div class="img flex-none">
		{% if termin.vorschaubild | length %}
			{% set img = termin.vorschaubild.one %}
			
			<a href="{{ termin.url }}">
				<img class="block w-40 rounded-lg h-auto"
				     src="{{ img.getUrl }}"
				     alt="{{ img.altText }}"
				     width="{{ img.width }}"
				     height="{{ img.height }}"
				     sizes="160px"
				     srcset="{% include '_srcset' %}">
			</a>
		{% endif %}
	</div>
</li>
